<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<!-- Customer/touch screen resolution -->
		<add key="Display.Width" value="800" />
		<add key="Display.Height" value="600" />
		
		<!-- Startup configuration -->
		<add key="Startup.ApplyResolution" value="true" />
		<add key="Startup.RefreshTouchMapping" value="true" />
		
		<!-- Digitizer device to monitor mapping -->
		<add key="TouchMapping.Enabled" value="true" />
		<add key="DigitizerToMonitor.PID_C000" value="TGC0100" />
		<add key="DigitizerToMonitor.PID_C002" value="TGC6150" />
	</appSettings>
</configuration>